@import url(https://fonts.googleapis.com/css?family=Lobster);
body{
    font-family: 'Lobster';
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}
h1
{
color: #000000;
}
.btn1
{
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%); 
}
#your_sketch
{
font-weight: bolder;
color: aqua;
}
#confidence
{
font-weight: bolder;
color: rgb(120, 240, 240);
}